@font-face{
  font-family: 'Audiowide';
  src: url(../fonts/Audiowide-Regular.ttf);
}
@media print{
  body,h1{
    color: black;
    font-family: times,serif;
  }
  h1#elon{
    text-align: right;
  }
  h2{
    background-color: unset;
  }
  h2 a{
    visibility: visible;
  }
  a.topo{
    visibility: hidden;
  }
  
}

body {
  color: darkslategrey;
  font-family: arial, sans-serif;
  font-size: 17px;
}

.text-center {
  text-align: center;
}

#copyright {
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-family: 'Audiowide', sans-serif;
  font-size:30px;
}

h2 {
  font-size:24px;
  background-color: lightskyblue;
  border-radius: 5px;
}

h1, h2, a, a:visited {
  color: darkblue;
}

a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 a, h1 a:visited {
  color: white;
}
h2 a, h2 a:visited {
  color: lightskyblue;
}
h1:hover a, h2:hover a {
  color: darkblue;
}
.btn{
  font-size: 1.3rem;
}

.btn:hover{
  text-decoration: none;
  background-color: darkblue;
  color: white;
}

span{
  font-size: 1rem;
  line-height:1,5 rem;
  vertical-align: middle;
  color: blue;
}

#social{
  text-align: center;
  color:white;
  font-size: 2rem;
}

.fab.fa-facebook-square{
  color: navy;
}

.fab.fa-twitter-square{
  color: dodgerblue;
}

.fab.fa-linkedin{
  color: navy;
}


