/*Tabela de Notas*/

span table{
    border-collapse: collapse;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 50%;
    min-width: 300px;
    margin: 50px auto;
    text-align: center;
}

#alinhamento {
    text-align: left;
}

tbody tr:nth-child(2n-1){
    background-color:rgb(240,248,255);
}

th{
    border: none;
}

a{
    text-decoration: none;
}
a:hover{
    font-size: 20px;
}

h1{
    text-align: center;
}